.shortcutGrid {
  height: 100vh;
  flex: 1 1 auto;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  padding-top: 7.5px;
}
.item {
  flex: 0 0 auto;
  width: 7rem;
  height: 7rem;
  margin: 0.125rem;
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}
.link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  padding: 7px;
}
.favicon {
  width: 2.25rem;
  height: 2.25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.group {
  flex: 1 0 auto;
  width: 100%;
  padding: 0 0.125rem;
}
.input {
  padding-left: 0;
  padding-right: 0;
}
.input:focus {
  padding: 0.5rem 0.5rem;
}
