.shortcutList {
  height: 100vh;
  padding: 10px 15px;
  flex: 0 1 auto;
  min-width: 250px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item {
  position: relative;
  height: 2.25rem;
  padding: 0.125rem 0;
}
.link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}
.bgFavicon {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  flex: 0 1 auto;
}
.favicon {
  width: 1.5rem;
  height: 1.5rem;
}
.label {
  flex: 1 1 auto;
  padding-left: 8px;
}
