.container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.list,
.grid {
  height: 100vh;
  padding: 10px 15px;
}
.list {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  min-width: 250px;
}
.grid {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
