:root {
  --lightText: #1f1f1f;
  --lightBack: #d4d4d4;
  --lightDark: #4c4a48;
  --lightDark2: #353535;
  --lightDark3: #a5a4a3;

  --darkText: #ffffff;
  --darkBack: #1f1f1f;
  --darkLight: #4c4a48;
  --darkLight2: #353535;
  --darkLight3: #a5a4a3;

  --backgroundLight: var(--lightBack);
  --colorLight: var(--lightText);
  --linkColorLight: var(--lightText);
  --borderColorLight: var(--lightText);

  --backgroundDark: var(--darkBack);
  --colorDark: var(--darkText);
  --linkColorDark: var(--darkText);
  --borderColorDark: var(--darkText);
}

.light {
  background-color: var(--backgroundLight);
  color: var(--colorLight);
}
.dark {
  background-color: var(--backgroundDark);
  color: var(--colorDark);
}

.light a {
  color: var(--linkColorLight);
}
.dark a {
  color: var(--linkColorDark);
}

.light .bgFavicon {
  background-color: var(--lightDark);
}
.dark .bgFavicon {
  background-color: var(--darkLight);
}

.light .borderFavicon:hover {
  border-color: var(--lightDark3);
}
.dark .borderFavicon:hover {
  border-color: var(--darkLight3);
}

.light .bgItemList:hover {
  background-color: var(--lightDark2);
}
.dark .bgItemList:hover {
  background-color: var(--darkLight2);
}

.light .bgItemBar:hover {
  background-color: var(--lightDark2);
}
.dark .bgItemBar:hover {
  background-color: var(--darkLight2);
}

.light .fillSVG {
  fill: var(--lightText);
}
.dark .fillSVG {
  fill: var(--darkText);
}

.light input {
  color: var(--lightText);
}
.dark input {
  color: var(--darkText);
}

.light input:focus {
  color: var(--lightText);
  background-color: var(--lightBack);
}
.dark input:focus {
  color: var(--darkBack);
  background-color: #ffffff;
}
